<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Back Order Model</title>
</head>
<form action="{{ url_for('predict') }}" method="POST" align="left">
    <fieldset>
        <legend>Input Values:</legend>
		national_inv:
		<input name="national_inv" type="number" required>
		<br>
		<br>
		lead_time        :   
		<input name="lead_time" type="number" required>
		<br>
		<br>
		in_transit_qty:
		<input name="in_transit_qty" type="number" required>
		<br>
		<br>
		forecast_3_month:
		<input name="forecast_3_month" type="number" required>
		<br>
		<br>
		<!-- forecast_6_month: -->
		<!-- <input name="forecast_6_month" type="number" required> -->
		<!-- <br> -->
		<!-- <br> -->
		<!-- forecast_9_month: -->
		<!-- <input name="forecast_9_month" type="number" required> -->
		<!-- <br> -->
		<!-- <br> -->
		sales_1_month:
		<input name="sales_1_month" type="number" required>
		<br>
		<br>
		sales_3_month:
		<input name="sales_3_month" type="number" required>
		<br>
		<br>
		<!-- sales_6_month: -->
		<!-- <input name="sales_6_month" type="number" required> -->
		<!-- <br> -->
		<!-- <br> -->
		<!-- sales_9_month: -->
		<!-- <input name="sales_9_month" type="number" required> -->
		<!-- <br> -->
		<!-- <br> -->
		min_bank:
		<input name="min_bank" type="number" required>
		<br>
		<br>
		potential_issue:
		<input name="potential_issue" type="number" required>
		<br>
		<br>
		pieces_past_due:
		<input name="pieces_past_due" type="number" required>
		<br>
		<br>
		perf_6_month_avg:
		<input name="perf_6_month_avg" type="number" required>
		<br>
		<br>
		<!-- perf_12_month_avg: -->
		<!-- <input name="perf_12_month_avg" type="number" required> -->
		<!-- <br> -->
		<!-- <br> -->
		local_bo_qty:
		<input name="local_bo_qty" type="number" required>
		<br>
		<br>
		deck_risk:
		<input name="deck_risk" type="text" required>
		<br>
		<br>
		oe_constraint:
		<input name="oe_constraint" type="text" required>
		<br>
		<br>
		ppap_risk:
		<input name="ppap_risk" type="text" required>
		<br>
		<br>
		stop_auto_buy:
		<input name="stop_auto_buy" type="text" required>
		<br>
		<br>
		rev_stop:
		<input name="rev_stop" type="text" required>
		<br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">

        <br>
        <br> Order could fulfilled by the company?:
           <p style="font-size:20px">{{ result }}</p>
 
</div>
</html>